<main class="main-wrap">
  <!-- [ Main Content ] start -->
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">

              <!-- [ breadcrumb ] start -->

              <div class="card">
                <div class="card-body">

                  <div class="card-h  text-center">
                    <div class="card-body">
                      <div>
                        <a href="/admin/add-banner" class="btn btn-success float-right mb-3">Add Banner</a>
                      </div>

                      <h4 class="py-4 text-center">Banners Management</h4>

                      <div class="text-center">
                        <div class="table-responsive">
                          <table class="table table-striped" style="width: 100%;">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Image</th>
                                <th scope="col">Banner Head</th>
                                <th scope="col">Banner text</th>
                                <th scope="col">Update</th>
                                <th scope="col">status</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each banner}}
                              <tr>
                                <th scope="row">{{@index}}</th>
                                <td>
                                  <img src="{{this.image}}" alt="" width="120px" />
                                </td>
                                <td>{{this.head}}</td>
                                <td>{{this.text}}</td>
                                <td><a href="/admin/edit-banner/{{this._id}}" class="btn btn-primary btn-sm"
                                    style="width: 100px;height:35px;">EDIT</a>
                                </td>

                                {{#if this.status}}
                                <td><a href="/admin/unlist-banner/{{this._id}}" class="btn btn-danger btn-sm">UNLIST</a>
                                </td>
                                {{else}}
                                <td><a href="/admin/list-banner/{{this._id}}" class="btn btn-warning btn-sm">LISTED</a>
                                </td>
                                {{/if}}

                              </tr>
                              {{/each}}

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->
</main>