<main class="main-wrap">
    <section>
        <div class="container">
            <div class="row mt-4">
                <a href="" class="btn btn-success ml-auto mt-3 " style="height: 40px; width: 120px" data-toggle="modal"
                    data-target="#exampleModalCenter">Add
                    Coupon</a>

            </div>
            <h4 class="py-4 text-center">Coupon Management</h4>
            <table class="table mt-5 pt-3" id="couponTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sl. No.</th>
                        <th scope="col">Code</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Expiry Date</th>
                        {{!-- <th scope="col">Edit</th> --}}
                        <th scope="col">Updation</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each coupons}}
                    <tr>
                        <td scope="row">{{increment @index}}</td>
                        <td>{{this.code}}</td>
                        <td>₹{{this.discount}}</td>
                        {{#if this.expired}}
                        <td class="text-danger">Expired</td>
                        {{else if this.deactivated}}
                        <td class="text-danger">Deactivated</td>
                        {{else}}
                        <td class="text-success">{{this.date}}</td>
                        {{/if}}
                        {{!-- <td>
                            <a href="/admin/editCoupon/{{this._id}}" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#exampleModalCenterEdit">Edit</a>
                        </td> --}}
                        {{#if this.deactivated}}
                        <td>
                            <a href="/admin/activateCoupon/{{this._id}}" class="btn btn-success btn-sm">Activate</a>
                        </td>
                        {{else if this.expired}}
                        <td><a class="btn btn-danger btn-sm disabled">expired</a></td>
                        {{else}}
                        <td>
                            <a href="/admin/deactivateCoupon/{{this._id}}" class="btn btn-warning btn-sm">Deactivate</a>
                        </td>
                        {{/if}}
                        <td>
                            <a href="/admin/deleteCoupon/{{this._id}}" class="btn btn-danger btn-sm"
                                onclick="return confirm('Do you want to delete?')">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</main>

<!-- Modal Add Coupon-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/addCoupon" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Code</label>
                        <input type="text" class="form-control" id="code" aria-describedby="emailHelp"
                            placeholder="Enter code" name="code" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Discount</label>
                        <input type="text" class="form-control" id="discount" placeholder="Enter Discount"
                            name="discount" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="Enter Description"
                            name="description" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Expiry Date</label>
                        <input type="date" class="form-control" id="date" placeholder="Enter Description" name="date"
                            required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Edit Coupon-->
{{#each coupon}}
<div class="modal fade" id="exampleModalCenterEdit" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/editCoupon/{{this._id}}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Code</label>
                        <input type="text" class="form-control" id="code" aria-describedby="emailHelp" name="code"
                            value="{{this.code}}" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Discount</label>
                        <input type="text" class="form-control" id="discount" name="discount" value="{{this.discount}}"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                            value="{{this.description}}" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Expiry Date</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{this.date}}" required />
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </div>
</div>
{{/each}}


<script>
    $(document).ready(function () {
        $('#couponTable').DataTable();
    });
</script>