<main class="main-wrap">
    <section class="content-main">
        <form action="/admin/editProduct/{{product._id}}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        <div>
                            <a href="/admin/view-products"
                                class="btn btn-light rounded font-sm mr-5 text-body hover-up">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input type="text" class="form-control" name="name" value="{{product.name}}"
                                            required>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <input class="form-control" rows="4" name="description" type="text"
                                            value="{{product.description}}" required>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Stocking</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label for="stock" class="form-label">Stock</label>
                                        <input type="number" placeholder="000" class="form-control" name="stock"
                                            value="{{product.stock}}" required>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label for="price" class="form-label">Price</label>
                                        <input type="number" placeholder="00.0" class="form-control" name="price"
                                            value="{{product.price}}" required>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" name="category" id="catgName">

                                            <option value="">Select a Category</option>
                                            {{#each category}}
                                            {{#if this.status}}
                                            <option value="{{this._id}}">{{this.name}} </option>
                                            {{/if}}
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <hr class=" mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>5. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label for="image" class="form-label">Images</label>
                                            <input type="file" name="image" multiple class="form-control"
                                                onchange="viewImage(event)">
                                            <div class="d-flex">
                                                {{#each product.image}}
                                                <img src="{{this}}" alt="" style="width: 50px;height:auto" id="imgView"
                                                    class="pt-3">
                                                {{/each}}
                                            </div>
                                        </div>
                                        <div class="img-container" style="display: flex;">
                                        </div> <!-- col.// -->
                                    </div> <!-- .row end// -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </section> <!-- content-main end// -->
</main>

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>