<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
        /* optional - to indicate the element is disabled */
    }
</style><!-- Shoping Cart -->
<div>
    <br>
    <br>
    <br>
</div>
<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        {{#if product}}
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                                <th class="column-5">Remove</th>
                            </tr>

                            {{#each product}}
                            {{#if (isEqual this.proDetails.[0].stock 0)}}
                            <tr class="table_row ">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{proDetails.[0].image.[0]}}" alt="IMG">
                                        <span class="text-danger" style="font-weight: bold;">out of stock</span>
                                    </div>
                                </td>
                                <td class="column-2">{{this.proDetails.[0].name}}</td>
                                <td class="column-3" id="price{{this.proDetails.[0]._id}}">
                                    {{this.proDetails.[0].price}}
                                </td>
                                <td class="column-4">
                                    <button class="cart-item-count mr-3 " style="background-color: #cd9b68 ;
                                        color:aliceblue; width: 3vh;" type="button"
                                        onclick="changeQuantity('{{this.proDetails.[0]._id}}',-1)" disabled>-</button>
                                    <span id="{{this.proDetails.[0]._id}}">{{this.products.quantity}}</span>
                                    <button class="cart-item-count ml-3"
                                        style="background-color: #cd9b68 ; color:aliceblue; width: 3vh;" type="button"
                                        onclick="changeQuantity('{{this.proDetails.[0]._id}}',1)" disabled>+</button>

                                </td>
                                <td class="column-5">
                                    <span id="{{this.proDetails.[0]._id}}total">
                                        {{mathMulti this.products.quantity
                                        this.proDetails.[0].price}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" onclick="removeProduct('{{this.proDetails.[0]._id}}')"
                                        class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                            <tr>
                                <div class="text-center text-success">
                                    <h4 id="delete-msg" class="font-italic"></h4>
                                </div>
                            </tr>
                            {{else}}
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{proDetails.[0].image.[0]}}" alt="IMG">

                                    </div>
                                </td>
                                <td class="column-2">{{this.proDetails.[0].name}}</td>
                                <td class="column-3" id="price{{this.proDetails.[0]._id}}">
                                    {{this.proDetails.[0].price}}
                                </td>
                                <td class="column-4">
                                    <button class="cart-item-count mr-3" style="background-color:rgb(157,49,102);
                                        color:aliceblue; width: 3vh;" type="button"
                                        onclick="changeQuantity('{{this.proDetails.[0]._id}}',-1)">-</button>
                                    <span id="{{this.proDetails.[0]._id}}">{{this.products.quantity}}</span>
                                    <button class="cart-item-count ml-3"
                                        style="background-color:rgb(157,49,102); color:aliceblue; width: 3vh;"
                                        type="button"
                                        onclick="changeQuantity('{{this.proDetails.[0]._id}}',1)">+</button>
                                </td>
                                <td class="column-5">
                                    <span id="{{this.proDetails.[0]._id}}total">
                                        {{mathMulti this.products.quantity
                                        this.proDetails.[0].price}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" onclick="removeProduct('{{this.proDetails.[0]._id}}')"
                                        class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                            <tr>
                                <div class="text-center text-success">
                                    <h4 id="delete-msg" class="font-italic"></h4>
                                </div>
                            </tr>
                            {{/if}}
                            {{/each}}

                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2" data-price={{totalAmount}} id="totalValue">
                                Rs.{{totalAmount}}
                            </span>
                        </div>
                    </div>
                    {{#if errCheckOut}}
                    <p>
                        {{errCheckOut}}
                    </p>
                    {{/if}}
                    <a href="/place-order" class=" flex-c-m stext-101 cl0 size-116  bor14 hov-btn3 p-lr-15 trans-04
                        pointer" style="background-color: rgb(157,49,102);">Proceed to Checkout</a>

                    {{!-- <button
                        class=" flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"><a
                            href="/place-order"></a>
                        Proceed to Checkout
                    </button> --}}
                    {{else}}
                    <div class="container-fluid  mt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    {{!-- <div class="card-header">
                                        <h5>Cart</h5>
                                    </div> --}}
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center">
                                            <img src="images/cartSvg.png" width="130" height="130"
                                                class="img-fluid mb-4 mr-3">
                                            <h3><strong>YOUR CART IS EMPTY</strong></h3>
                                            <h4>Add something to make me happy :)</h4>
                                            <a href="/shop" class="btn btn-primary cart-btn-transform m-3"
                                                data-abc="true"
                                                style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">continue
                                                shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                    (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                            placeholder="cozastore@gmail.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                    class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                    target="_blank">ThemeWagon</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>

<script>
    window.onload = function () {
        //const subTotal = parseFloat(document.getElementById('subTotal').innerText);
        const subTotal1 = document.getElementById('totalValue');
        const subTotal = subTotal1.dataset.price;
        console.log(subTotal);
    }
</script>


<script>
    let subTotal1 = document.getElementById('totalValue');
    console.log("mmmmmmmmmmmm", subTotal1);

    function removeProduct(proId, cartId) {
        swal({
            title: "Are you sure?",
            text: "Do you want to remove from cart?",
            icon: "warning",
            buttons: ["Cancel", "Remove"],
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, remove it!",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: true,
        }).then((willRemove) => {
            if (willRemove) {
                $.ajax({
                    url: `/remove-cart-product/${proId}`,
                    method: 'GET',
                    success: (response) => {
                        $(proId).remove();
                        let msg = name + " removed";
                        $('#delete-msg').html(msg);
                        location.reload();
                        console.log("removed");
                    }
                });
            }
        });
    }


    function changeQuantity(proId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        console.log(quantity)
        count = parseInt(count);
        $.ajax({
            url: '/change-product-quantity',
            data: {
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                console.log("response :" + response);
                if (response.removeProduct) {
                    //alert('Product removed from your cart');
                    location.reload()
                } else {
                    console.log(response.total);
                    document.getElementById(proId).innerHTML = quantity + count
                    console.log("ppppppppp", count)
                    document.getElementById(`${proId}total`).innerHTML = (quantity + count) *
                        document.getElementById(`price${proId}`).innerHTML;
                    document.getElementById('totalValue').innerHTML = response.total;
                    console.log("bbbbbbbbbbbbbb", response.total)
                }
            }
        })
    }
</script>