<style>
    body {
        background: #F1F3FA;
        font-family: Poppins-Medium;
    }

    /* Profile container */
    .profile {
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        margin-left: 80px;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

    .profile-userbuttons .btn:last-child {
        margin-right: 0px;
    }

    .profile-usermenu {
        margin-top: 30px;
    }

    .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
    }

    .profile-usermenu ul li:last-child {
        border-bottom: none;
    }

    .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

    .profile-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
    }

    .profile-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
    }

    .profile-usermenu ul li.active {
        border-bottom: none;
    }

    .profile-usermenu ul li.active a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
    }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }

    a,
    button,
    code,
    div,
    img,
    input,
    label,
    li,
    p,
    pre,
    select,
    span,
    svg,
    table,
    td,
    textarea,
    th,
    ul {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .dashboard-stat,
    .portlet {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .portlet {
        margin-top: 0;
        margin-bottom: 25px;
        padding: 0;
        border-radius: 4px;
    }

    .portlet.bordered {
        border-left: 2px solid #e6e9ec !important;
    }

    .portlet.light {
        padding: 12px 20px 15px;
        background-color: #fff;
    }

    .portlet.light.bordered {
        border: 1px solid #e7ecf1 !important;
    }

    .list-separated {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .profile-stat {
        padding-bottom: 20px;
        border-bottom: 1px solid #f0f4f7;
    }

    .profile-stat-title {
        color: #7f90a4;
        font-size: 25px;
        text-align: center;
    }

    .uppercase {
        text-transform: uppercase !important;
    }

    .profile-stat-text {
        color: #5b9bd1;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
    }

    .profile-desc-title {
        color: #7f90a4;
        font-size: 17px;
        font-weight: 600;
    }

    .profile-desc-text {
        color: #7e8c9e;
        font-size: 14px;
    }

    .margin-top-20 {
        margin-top: 20px !important;
    }

    [class*=" fa-"]:not(.fa-stack),
    [class*=" glyphicon-"],
    [class*=" icon-"],
    [class^=fa-]:not(.fa-stack),
    [class^=glyphicon-],
    [class^=icon-] {
        display: inline-block;
        line-height: 14px;
        -webkit-font-smoothing: antialiased;
    }

    .profile-desc-link i {
        width: 22px;
        font-size: 19px;
        color: #abb6c4;
        margin-right: 5px;
    }
</style>

<div class="container">
    <div class="p-b-10">
        <br><br><br><br>
        {{!-- <h3 class="ltext-103 cl5 text-white ">
            `
        </h3>
        <h3 class="ltext-103 cl5 text-white ">
            `
        </h3> --}}
    </div>
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    {{!-- <label class="-label" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span>Change Image</span>
                    </label> --}}
                    {{!-- <input id="file" type="file" onchange="loadFile(event)" /> --}}
                    <img src="images/profile.png" class="img-responsive" id="output" alt="">
                </div>


                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{user.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        Customer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                {{!-- <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div> --}}
                <!-- END SIDEBAR BUTTONS -->


                <div class="portlet light bordered">
                    <div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <a href="/viewOrders">My Orders</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="icon material-icons md-person"></i>

                            <a href="/userProfile" class="mb-3">Profile
                                Information</a>

                            {{!-- <a href="/account">Profile Information</a> --}}
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="icon material-icons md-store"></i>
                            <a href="/manageAddress">Manage Address</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="zmdi zmdi-favorite-outline"></i>
                            <a href="/wishList">My Wishlist</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="zmdi zmdi-shopping-cart"></i>
                            <a href="/cart">My Cart</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            {{!-- <i class="zmdi zmdi-shopping-cart"></i> --}}
                            <a href="/wallet">&#128179; My Wallet</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="zmdi zmdi-fi-rs-sign-out "></i>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <p>
                    <button class="btn btn-primary" type="button" aria-expanded="false" aria-controls="collapseExample"
                        data-toggle="modal" data-target="#exampleModalCenter"
                        style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">
                        +Add Address
                    </button>
                </p>
                {{#each user.address}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2 border ">
                    <div class="p-3">
                        <p><b> {{this.name}} </b> <b class="pl-4 font-weight-normal">{{this.mobile}}</b>
                            <a type="button" onclick="addressRemove('{{this._id}}')"
                                class="text-danger border p-1 float-right">
                                <b> DELETE</b>
                            </a>
                        </p>
                        <p>{{this.address}} , {{this.city}} , {{this.district}} , {{this.pincode}}</p>

                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </div>
</div>
</div>


<!-- Modal Add Address-->
<div class=" modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- <form action="/admin/addAddress/{{user._id}}" method="post"> --}}
                    <form action="/addAddress/{{user._id}}" method="post" id="checkout-form">
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <input required="" type="text" id="name" class="form-control"
                                        placeholder="Full name *" name="name" required />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <input required="" type="text" id="pincode" class="form-control"
                                        placeholder="Postcode / ZIP *" name="pincode" required />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input required="" type="phone" id="mobile" class="form-control" name="mobile"
                                        placeholder="Phone *" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input required="" type="text" id="locality" class="form-control" name="locality"
                                placeholder="Locality *" required />
                        </div>

                        <div class="form-group">
                            <input required="" type="text" id="address" class="form-control" name="address"
                                placeholder="Address *" required />
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-group">
                                    <input required="" type="text" id="city" class="form-control"
                                        placeholder="City / District / Town *" name="city" required />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input required="" type="state" id="state" class="form-control" name="state"
                                        placeholder="State / County *" required />
                                    {{!-- <input type="text" name="userId" id="" value="{{user._id}}" hidden> --}}
                                </div>
                            </div>
                        </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"
                    style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                    (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                            placeholder="cozastore@gmail.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center" style="color: rgb(159, 163, 163);">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://www.linkedin.com/in/akhilavijayanmoonnumackal" target="_blank">Akhila
                    Vijayan</a>
            </p>
        </div>
    </div>
</footer>

<script>
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

</script>
<script>
    function addressRemove(addrId) {
        swal({
            title: "Are you sure?",
            text: "Do you want to remove this address from profile?",
            icon: "warning",
            buttons: ["Cancel", "Remove"],
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, remove it!",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: true,
        }).then((willRemove) => {
            if (willRemove) {
                $.ajax({
                    url: `/removeProfileAddress/${addrId}`,
                    method: 'GET',
                    success: (response) => {
                        $(addrId).remove();
                        let msg = name + " removed";
                        $('#delete-msg').html(msg);
                        location.reload();
                        console.log("removed");
                    }
                });
            }
        });
    }

</script>