<style>
    div {
        display: block;
    }

    body {
        color: #4f5d77;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-style: normal;
        font-weight: 400;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group input {
        background: #fff;
        border: 1px solid #e2e9e1;
        height: 45px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 20px;
        font-size: 13px;
        color: #1a1a1a;
        width: 100%;
    }

    .order_review {
        border: 1px solid #e2e9e1;
        padding: 30px;
        border-radius: 10px;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 15px;
    }

    h1,
    h2,
    h3,
    h4,

    h6 {
        font-family: "Spartan", sans-serif;
        color: #222222;
        font-weight: 600;
        line-height: 1.2;
    }

    .text-center {
        text-align: center !important;
    }

    .table {
        --bs-table-bg: transparent;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #212529;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
    }

    thead {
        font-weight: 600;
    }

    .table>thead {
        vertical-align: bottom;
    }

    .table>:not(:last-child)>:last-child>* {
        border-bottom-color: currentColor;
    }

    .table>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mt-30 {
        margin-top: 30px !important;
    }



    .btn,
    .button {
        display: inline-block;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 700;
        padding: 12px 30px;
        border-radius: 4px;
        color: #fff;
        border: 1px solid #046963;
        background-color: #71aa96e5;
        cursor: pointer;
        -webkit-transition: all 300ms linear 0s;
        transition: all 300ms linear 0s;
        letter-spacing: 0.5px;
    }

    .div1 {
        width: 353px;
        height: 180px;
        border: 1px solid rgb(145, 145, 156);
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .div2 {
        width: 635px;
        height: 70px;
        padding: 50px;
        border: 1px solid rgb(118, 169, 222);
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
</style>

<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-25">
                        <h4>DELIVERY ADDRESS</h4>
                    </div>
                    <form method="post" id="checkout-form">
                        {{#each user.address}}
                        <div class="div1 pl-4 pt-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="addrDetails" id="addrDetails"
                                    value="{{this._id}}" checked>
                                <label class="form-check-label" for="addrDetails">
                                    <p class="font-weight-bold">{{this.name}} - {{this.mobile}}</p>

                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="addrDetails">
                                    {{this.address}}
                                </label>
                                <br> <label class="form-check-label" for="addrDetails">
                                    {{this.district}},{{this.state}}-{{this.pincode}}
                                </label>
                            </div>
                        </div>
                        {{/each}}

                        {{!-- =====================form================== --}}

                        <br>

                        <div class="col-md-9">
                            <div class="profile-content">
                                <p>
                                    <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter" aria-expanded="false"
                                        aria-controls="collapseExample"
                                        style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">
                                        + Add New Address
                                    </button>
                                </p>
                            </div>
                        </div>
                </div>
                {{!-- =====================coupon======================= --}}
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="mb-20">
                            {{!-- <form id="myForm" method="post"> --}}
                                <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                                    <div class="flex-w flex-m m-r-20 m-tb-5">
                                        <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
                                            type="text" name="coupon" placeholder="Coupon Code" id="couponCode">

                                        <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                                            onclick="applyCoupon()">
                                            Apply coupon
                                        </div>
                                    </div>

                                    <span id="invalidCoupon" class="text-danger"></span>
                                </div>

                                {{!--
                            </form> --}}
                            <br>
                            <article class="float-end">
                                <dl class="dlist">
                                    <dt>Subtotal:</dt>
                                    <dd><strong id="strong">₹ {{total}}</strong></dd>
                                    <input type="text" id="totalCost" name="totalCost" value="{{total}}" hidden>
                                </dl>
                                <dl class="dlist">
                                    <dt>Shipping cost:</dt>
                                    <dd>₹ 0.00</dd>
                                </dl>
                                <dl class="dlist" style="color: darkgreen;">
                                    <dt>Coupon:</dt>
                                    <small id="couponName"></small>
                                    <dd class="text-success" id="couponPrice">₹ 0.00</dd>
                                </dl>
                                <dl class="dlist">
                                    <dt>Grand total:</dt>
                                    <dd><strong id="strong"><b class="h5" id="total">₹ {{total}}</b></strong>
                                        <input type="text" name="totalCost" value="{{total}}" hidden>
                                    </dd>
                                    <input type="number" hidden id="totalAmount" value="{{total}}" class="form-control"
                                        name="totalAmount">
                                </dl>
                            </article>
                            <br><br>

                            <div class=" bt-1 border-color-1 mt-30 mb-30">
                            </div>
                            <br>
                            <hr>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">

                                    {{!-- <div class="custome-radio">
                                        {{#if (lessEqual total wallet)}}
                                        <input class="form-check-input" id="wallet" required="" type="radio"
                                            name="payment-method" onclick="validateSubmit()" value="wallet" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                            data-target="#wallet" aria-controls="bankTranfer">Wallet
                                            Payment</label>
                                        {{/if}}
                                    </div> --}}
                                    <p>
                                        {{totalAmount}}
                                        {{wallet}}
                                    </p>
                                    {{#if (lessEqual total totalAmount)}} <div class="custome-radio">

                                        <input class="form-check-input" id="wallet" required="" type="radio"
                                            name="payment-method" onclick="validateSubmit()" value="wallet" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                            data-target="#wallet" aria-controls="bankTranfer">Wallet
                                            Payment</label>
                                    </div>
                                    {{/if}}

                                    <div class="custome-radio">
                                        <input class="form-check-input" id="razorpay" required="" type="radio"
                                            name="payment-method" onclick="validateSubmit()" value="RAZORPAY"
                                            checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                            data-target="#bankTranfer" aria-controls="bankTranfer">Razorpay</label>

                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" id="COD" required="" type="radio"
                                            name="payment-method" onclick="validateSubmit()" value="COD" checked="">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse"
                                            data-target="#checkPayment" aria-controls="checkPayment">COD</label>

                                    </div>
                                </div>
                            </div>

                            <button onclick="placeOrderSubmit()" id="checkoutBtn"
                                class="btn btn-fill-out btn-block mt-30" type="submit"
                                style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">Place
                                Order</button>
                        </div>
                    </div>
                    </form>

                </div>

            </div>
        </div>
    </section>
</main>

{{!--MODAL --}}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Billing Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/addAddress/{{user._id}}">
                    <div class=" row mb-4">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" id="name" class="form-control" placeholder="Full name *"
                                    name="name" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" id="pincode" class="form-control" placeholder="Postcode / ZIP *"
                                    name="pincode" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="phone" id="mobile" class="form-control" name="mobile"
                                    placeholder="Phone *" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" id="locality" class="form-control" name="locality"
                            placeholder="Locality *" />
                    </div>

                    <div class="form-group">
                        <input type="text" id="address" class="form-control" name="address" placeholder="Address *" />
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" id="city" class="form-control" placeholder="City / District / Town *"
                                    name="city" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="state" id="state" class="form-control" name="state"
                                    placeholder="State / County *" />
                                <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <span type="button" class="btn btn-secondary" data-dismiss="modal">Close</span>
                        <input type="submit" class="btn btn-primary" value="Add Address"
                            style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or
                    call
                    us
                    on
                    (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                            placeholder="cozastore@gmail.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://www.linkedin.com/in/akhilavijayanmoonnumackal" target="_blank">Akhila
                    Vijayan</a>
            </p>
        </div>
    </div>
</footer>

{{!-- ==================script========== --}}

<script>
    let totalCost = parseInt(document.getElementsByName('totalCost')[0].value);
    // let totalAmount = document.getElementById('totalAmount').value;
    console.log("jjjjjjjjjjjjj", totalCost);
    let coupon;

    function applyCoupon() {
        const code = document.getElementById('couponCode').value;


        $.ajax({
            url: '/couponApply',
            type: 'post',
            data: { 'couponCode': code },
            success: function (response) {
                console.log(response)
                const coupon = response.coupon;
                if (response.status === 'success') {
                    console.log("status is success");
                    if (response.used === true) {
                        console.log("first condition for used : true")
                        document.getElementById('invalidCoupon').innerHTML = response.message;
                    } else if (coupon.status === 'DEACTIVATED' || coupon.status === 'EXPIRED') {
                        console.log("condition 2 status : deactiveated");
                        console.log("nnnnnnnnnnnn", response.status);
                        const coupon = response.coupon;
                        $('#invalidCoupon').html('Coupon Deactivated or Expired');
                        //}
                    } else {
                        console.log("everything as planned")
                        const couponAmt = parseInt(coupon.discount);
                        totalCost = parseInt(totalCost) - couponAmt;
                        console.log("iiiiiiiiiiiii", totalCost);
                        document.getElementById('total').innerHTML = `₹ ${totalCost}`;
                        document.getElementById('totalAmount').value = totalCost;
                        $('#invalidCoupon').html("");
                        //$('#couponName').html(coupon.code);
                        $('#couponPrice').html(`Rs.${couponAmt} `);
                        $('#couponCode').val(code);
                    }
                } else {
                    document.getElementById('invalidCoupon').innerHTML = response.message;
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function placeOrderSubmit() {
        console.log("apicall")
        $("#checkout-form").submit((e) => {
            e.preventDefault();

            $.ajax({
                url: '/place-order',
                method: 'post',
                data: $('#checkout-form').serialize(),

                success: (response) => {
                    //alert(response)
                    if (response.codSuccess) {
                        location.href = '/orderSuccess'
                    } else if (response.walletSuccess) {
                        location.href = '/orderSuccess'
                    }
                    else {
                        razorpayPayment(response)
                    }

                },
                error: function (err) {
                    console.log(err);
                }
            })
        })
    }

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_266WOnlg6wbzrr", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Cozastore",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verifyPayment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    console.log("hhhhhhhhhhhhhhhhhh", response);
                    location.href = '/orderSuccess'
                } else {
                    alert("Payment Failed")
                }
            }
        })
    }
</script>