<main class="main">
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
            <div class="row">
                <form id="checkout-form">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>DELIVERY ADDRESS</h4>
                        </div>
                        {{!-- {{#each user.address}}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2 border ">
                            <div class="p-3">
                                <p> <b> {{this.name}} </b> <b class="pl-4 font-weight-normal">{{this.mobile}} </b> <a
                                        type="button" onclick="addressRemove('{{this._id}}')"
                                        class="text-danger border p-1 float-right"><b> DELETE</b></a></p>
                                <p>{{this.address}} , {{this.city}} , {{this.district}} , {{this.pincode}}</p>

                            </div>
                        </div>
                        {{/each}} --}}
                        {{#each user.address}}
                        <div class="div1 pl-4 pt-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="addressId" id="exampleRadios1"
                                    value="{{this._id}}" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    <p class="font-weight-bold">{{this.name}} - {{this.mobile}}</p>

                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="exampleRadios1">
                                    {{this.address}}
                                </label>
                                <br> <label class="form-check-label" for="exampleRadios1">
                                    {{this.district}},{{this.state}}-{{this.pincode}}
                                </label>
                            </div>
                            <div class="pt-4">
                                <button type="submit" class="btn btn-warning btn-sm ml-2">DELIVERY HERE</button>
                            </div>
                        </div>
                        {{/each}}

                        {{!-- =====================form================== --}}

                        <br>

                        <div class="col-md-9">
                            <div class="profile-content">
                                <p>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        + Add New Address
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">


                                        <div class="col-md-12">
                                            <div class="mb-25">
                                                <h4>Billing Details</h4>
                                            </div>
                                            <form method="post" id="checkout-form">
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input required="" type="text" id="name"
                                                                class="form-control" placeholder="Full name *"
                                                                name="name" />
                                                        </div>
                                                    </div>
                                                    {{!-- <div class="col">
                                                        <div class="form-group">
                                                            <input required="" type="text" id="form7Example2"
                                                                class="form-control" name="lname"
                                                                placeholder="Last name *" />
                                                        </div>
                                                    </div> --}}
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input required="" type="text" id="pincode"
                                                                class="form-control" placeholder="Postcode / ZIP *"
                                                                name="pincode" />
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input required="" type="phone" id="mobile"
                                                                class="form-control" name="mobile"
                                                                placeholder="Phone *" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <input required="" type="text" id="locality" class="form-control"
                                                        name="locality" placeholder="Locality *" />
                                                </div>

                                                <div class="form-group">
                                                    <input required="" type="text" id="address" class="form-control"
                                                        name="address" placeholder="Address *" />
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input required="" type="text" id="city"
                                                                class="form-control"
                                                                placeholder="City / District / Town *" name="city" />
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <input required="" type="state" id="state"
                                                                class="form-control" name="state"
                                                                placeholder="State / County *" />
                                                            <input type="text" name="userId" id="" value="{{user._id}}"
                                                                hidden>
                                                        </div>
                                                    </div>
                                                </div>

                                                {{!-- <div class="form-group">
                                                    <input required="" type="text" name="phone"
                                                        placeholder="Alternate Phone(Optional) *">
                                                </div> --}}

                                                <div class="form-check d-flex justify-content-center mb-2">
                                                    <a href="/placeOrder"
                                                        class="btn btn-light rounded font-sm mr-5 text-body hover-up">
                                                        Cancel
                                                    </a>
                                                    {{!-- <button type="submit"
                                                        class="btn btn-warning rounded font-sm hover-up">SAVE
                                                        AND DELIVERY HERE</button> --}}
                                                </div>
                                                {{!--
                                            </form> --}}
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Total Price</h4>
                            </div>
                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2" data-price={{total}} id="totalValue">
                                    ₹ {{total}}
                                </span>
                            </div>





                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment-method"
                                            value="RAZORPAY" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"
                                            data-target="#bankTranfer" aria-controls="bankTranfer">Razorpay</label>

                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment-method"
                                            value="COD" checked="">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse"
                                            data-target="#checkPayment" aria-controls="checkPayment">COD</label>

                                    </div>
                                    {{!-- <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment-method"
                                            value="PAYPAL" checked="">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse"
                                            data-target="#paypal" aria-controls="paypal">Paypal</label>
                                    </div> --}}
                                </div>
                            </div>
                            <button onclick="placeOrderSubmit()" type="submit" class="btn btn-fill-out btn-block mt-30"
                                value="Place Order">Place
                                Order</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        </div>
    </section>
</main>

<script>
    function placeOrderSubmit() {
        console.log("apicall")

        $("#checkout-form").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/place-order',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    //alert(response)
                    if (response.codSuccess) {
                        location.href = '/orderSuccess'
                    } else {
                        razorpayPayment(response)
                    }

                }
            })
        })
    }

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_266WOnlg6wbzrr", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Cozastore",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verifyPayment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/orderSuccess'
                } else {
                    alert("Payment Failed")
                }
            }
        })
    }

</script>

<style>
    div {
        display: block;
    }

    body {
        color: #4f5d77;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-style: normal;
        font-weight: 400;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x)/ -2);
        margin-left: calc(var(--bs-gutter-x)/ -2);
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group input {
        background: #fff;
        border: 1px solid #e2e9e1;
        height: 45px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 20px;
        font-size: 13px;
        color: #1a1a1a;
        width: 100%;
    }

    .order_review {
        border: 1px solid #e2e9e1;
        padding: 30px;
        border-radius: 10px;
    }

    .mb-20 {
        margin-bottom: 20px !important;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 15px;
    }

    h1,
    h2,
    h3,
    h4,

    h6 {
        font-family: "Spartan", sans-serif;
        color: #222222;
        font-weight: 600;
        line-height: 1.2;
    }

    .text-center {
        text-align: center !important;
    }

    .table {
        --bs-table-bg: transparent;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #212529;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
    }

    thead {
        font-weight: 600;
    }

    .table>thead {
        vertical-align: bottom;
    }

    .table>:not(:last-child)>:last-child>* {
        border-bottom-color: currentColor;
    }

    .table>:not(caption)>*>* {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mt-30 {
        margin-top: 30px !important;
    }



    .btn,
    .button {
        display: inline-block;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 700;
        padding: 12px 30px;
        border-radius: 4px;
        color: #fff;
        border: 1px solid #046963;
        background-color: #71aa96e5;
        cursor: pointer;
        -webkit-transition: all 300ms linear 0s;
        transition: all 300ms linear 0s;
        letter-spacing: 0.5px;
    }

    .div1 {
        width: 635px;
        height: 180px;
        border: 1px solid rgb(145, 145, 156);
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .div2 {
        width: 635px;
        height: 70px;
        padding: 50px;
        border: 1px solid rgb(118, 169, 222);
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
</style>