<style>
    .wrap-pic-w img {
        min-width: 25%;
    }
</style>
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5 text-white ">
                `
            </h3>
        </div>
        {{!-- <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
            <img src="images/icons/icon-close2.png" alt="CLOSE">
        </button> --}}
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        {{!-- <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div> --}}

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="{{product.image.[0]}}">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{product.image.[0]}}" alt="IMG-PRODUCT">
                                    <div class="row">
                                        <div class="thumnail-images pt-5 mx-auto">
                                            <ul id="thumnail" style="list-style: none;">
                                                <li class="d-inline-block">
                                                    <img class="product-image" width="50" onclick="changeImage(this)"
                                                        src="{{product.image.[0]}}" alt="">
                                                </li>
                                                <li class="d-inline-block pl-3">
                                                    <img class="product-image" width="50" onclick="changeImage(this)"
                                                        src="{{product.image.[1]}}" alt="">
                                                </li>
                                                <li class="d-inline-block pl-3">
                                                    <img class="product-image" width="50" onclick="changeImage(this)"
                                                        src="{{product.image.[2]}}" alt="">
                                                </li>
                                                <li class="d-inline-block pl-3">
                                                    <img class="product-image" width="50" onclick="changeImage(this)"
                                                        src="{{product.image.[3]}}" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    {{!-- <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                        href="/images/{{this.product._id}}.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14" style="color: black;">
                        {{product.name}}
                    </h4>

                    <span class="mtext-106 cl2" style="color: black;">
                        {{product.price}}
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        {{product.description}}
                    </p>

                    <!--  -->
                    <div class="p-t-33">
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Size
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="time">
                                        <option>Choose an option</option>
                                        <option>Size S</option>
                                        <option>Size M</option>
                                        <option>Size L</option>
                                        <option>Size XL</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Color
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="time">
                                        <option>Choose an option</option>
                                        <option>Red</option>
                                        <option>Blue</option>
                                        <option>White</option>
                                        <option>Grey</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">
                                <button
                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail js-addcart-btn btn-addcart-btn"
                                    type="submit" onclick="addToCart('{{this._id}}'')" id="addToCart"
                                    data-product="{{product._id}}">
                                    Add to cart
                                </button>

                                {{!-- <button
                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
                                    type="submit">
                                    <a href="/addToCart/{{this._id}}" id="addToCart" data-product="{{product._id}}"
                                        class=" btn-addcart-btn dis-block pos-relative js-addcart-btn">
                                        Add to cart
                                    </a>
                                </button> --}}

                                <button
                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                    Buy Now
                                </button>

                            </div>
                        </div>
                        <div>
                            {{!--<a href="/addToCart"><button
                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                    Add to cart
                                </button></a>

                            <button
                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                Buy Now
                            </button>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- =============================================================================================== --}}
<script>
    function changeImage(element) {
        var main_product_image = document.getElementById('main_product_image');
        main_product_image.src = element.src;
        $('#main_product_image')({
            responsive: true
        });
    }
</script>


<!--===============================================================================================-->
{{!--
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script> --}}
<!--===============================================================================================-->
<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/vendor/slick/slick.min.js"></script>
<script src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="/vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/sweetalert/sweetalert.min.js"></script>

<script>



</script>

{{!-- =================================================================== --}}
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>

{{!-- ============================================== --}}
<script>

</script>