<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div>
            <br><br><br><br>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">All Orders</h4>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Sl. No.</th>
                                    {{!-- <th class="align-middle" scope="col">Order ID</th> --}}
                                    <th class="align-middle" scope="col">Date</th>
                                    {{!-- <th class="align-middle" scope="col">Billing Name</th> --}}
                                    <th class="align-middle" scope="col">Address</th>
                                    {{!-- <th class="align-middle" scope="col">Pincode</th> --}}
                                    {{!-- <th class="align-middle" scope="col">Mobile</th> --}}
                                    <th class="align-middle" scope="col">Total</th>
                                    <th class="align-middle" scope="col">Status</th>
                                    <th class="align-middle" scope="col">Payment Method</th>
                                    <th class="align-middle" scope="col">View Details</th>
                                    <th class="align-middle" scope="col">Cancel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td scope="row">{{@index}}</td>
                                    <td>{{this.date}}</td>
                                    {{!-- <td><a class="fw-bold">{{this._id}}</a> </td> --}}
                                    {{!-- <td>{{this.deliveryDetails.name}}</td> --}}
                                    <td>
                                        <span>{{this.deliveryDetails.name}},</span>
                                        <span>{{this.deliveryDetails.address}}
                                        </span><br>
                                        <span>{{this.deliveryDetails.pincode}}</span>
                                    </td>
                                    {{!-- <td>{{this.deliveryDetails.address}}</td> --}}
                                    {{!-- <td>{{this.deliveryDetails.pincode}}</td> --}}
                                    {{!-- <td>{{this.deliveryDetails.mobile}}</td> --}}
                                    <td>₹{{this.totalAmount}}</td>
                                    <td>
                                        <span class="badge badge-pill badge-soft-success">{{this.status}}</span>
                                        {{!-- <div class="">
                                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button"
                                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                {{this.status}}
                                            </button>

                                        </div> --}}
                                    </td>
                                    <td>
                                        <i class="material-icons md-payment font-xxl text-muted mr-5"></i>
                                        {{this.PaymentMethod}}
                                    </td>
                                    <td>
                                        <a href="/singleOrderDetailUser/{{this._id}}" class="btn btn-xs">
                                            View details</a>
                                    </td>
                                    {{#if this.isCancelled}}
                                    <td>
                                        <a href="" class="btn btn-xs disabled" style="background-color: crimson;">
                                            ORDER CANCELLED</a>
                                    </td>
                                    {{else if this.isDelivered}}
                                    <td>
                                        <a href="" class="btn btn-xs disabled"
                                            style="background-color: rgb(228, 143, 24);">
                                            CANCEL ORDER</a>
                                    </td>
                                    {{else}}
                                    <td>
                                        <a href="/cancelOrder/{{this._id}}" class="btn btn-xs cancelOrder"
                                            style="background-color: crimson;">
                                            CANCEL ORDER</a>
                                    </td>
                                    {{/if}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- table-responsive end// -->
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                    (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                            placeholder="cozastore@gmail.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                    class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                    target="_blank">ThemeWagon</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>