<div class="container">
    <section class="content-main">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5 text-white ">
                `
            </h3>
            <h3 class="ltext-103 cl5 text-white">
                `
            </h3>
        </div>
        <div class="content-header">
            <h2 class="content-title fs-4">My Wishlist</h2>
            {{!-- <div>
                <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
            </div> --}}
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                                {{!-- <th>Status</th>
                                <th>Registered</th> --}}
                                <th class="text-end"> View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td width="40%">
                                    <a href="/productDetail/{{this._id}}" class="itemside"
                                        onclick="viewDetails('{{this._id}}')">
                                        <div class="left">
                                            <img src="/images/{{this._id}}.jpg" class="img-sm " alt="Userpic">
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title">{{this.name}}</h6>
                                        </div>
                                    </a>
                                </td>
                                <td width="15%" class="price">{{this.price}}</td>
                                {{!-- <td><template class="__cf_email__"
                                        data-cfemail="2c4940494d42435e1e1c1e1c6c49544d415c4049024f4341">[email&#160;protected]</template>
                                </td>
                                <td><span class="badge rounded-pill alert-success">Active</span></td>
                                <td>08.07.2020</td> --}}
                                <td class="text-end">
                                    <a href="/productDetail/{{this._id}}"
                                        class="btn btn-sm btn-brand rounded font-sm mt-15"
                                        onclick="viewDetails('{{this._id}}')">View
                                        Details</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
</div>

<script>
    function viewDetails(id) {
        location.href = `/productDetail/${id}`
    }
</script>