<div class="container">
    <section class="content-main">
        {{#if products}}
        <div class="p-b-10">
            <h3 class="ltext-103 cl5 text-white ">
                `
            </h3>
            <h3 class="ltext-103 cl5 text-white">
                `
            </h3>
        </div>
        <div class="content-header">
            <h2 class="content-title fs-4">My Wishlist</h2>
            {{!-- <div>
                <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
            </div> --}}
        </div>
        <div class="card mb-4">
            {{!-- <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                </div>
            </header> <!-- card-header end// --> --}}
            <div class="col-12">
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>

                                {{!-- <th>Status</th>
                                <th>Registered</th> --}}
                                <th class="text-end"> View Details</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td width="40%">
                                    <a href="/productDetail/{{this.productDetails.[0]._id}}" class="item-center"
                                        onclick="viewDetails('{{this._id}}')">
                                        <div class="left">
                                            <img src="{{this.productDetails.[0].image.[0]}}" class="img-sm "
                                                alt="Userpic">
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title">{{this.productDetails.[0].name}}</h6>
                                        </div>
                                    </a>
                                </td>
                                <td width="15%" class="price" style="padding: 2%;margin-left:2%">
                                    {{this.productDetails.[0].price}}</td>

                                <td class="text-end">
                                    <a href="/productDetail/{{this.productDetails.[0]._id}}"
                                        class="btn btn-sm btn-brand rounded font-sm mt-15"
                                        onclick="viewDetails('{{this._id}}')">View
                                        Details</a>
                                </td>
                                <td>
                                    <button type="button"
                                        onclick="removeWishlistProduct('{{this.productDetails.[0]._id}}')"
                                        class="btn btn-sm" style="margin: 7%;">x</button>
                                    {{!-- <a href="/removeWishlistProduct/{{this.productDetails.[0]._id}}">X</a> --}}
                                </td>
                            </tr>
                            <tr>
                                <div class="text-center text-success">
                                    <h4 id="delete-msg" class="font-italic"></h4>
                                </div>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        {{else}}
        <div class="container-fluid  mt-100">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        {{!-- <div class="card-header">
                            <h5>Cart</h5>
                        </div> --}}
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <img src="images/wishlistsvg.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                <h3><strong>Your wishlist is Empty</strong></h3>
                                <h4>Add something to make me happy :)</h4>
                                <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                                    shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}



        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
</div>


<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                    (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                            placeholder="cozastore@gmail.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
                    class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                    target="_blank">ThemeWagon</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>

<script>
    function viewDetails(id) {
        location.href = `/productDetail/${id}`
    }

    function removeWishlistProduct(proId) {
        var check = confirm("Do you want to remove this product from wishlist?")
        if (check) {
            $.ajax({
                url: `/removeWishlistProduct/${proId}`,
                method: 'GET',
                success: (response) => {
                    $(proId).remove()
                    let msg = "product removed"
                    $('#delete-msg').html(msg)
                    location.reload();
                    console.log("removed");
                }

            })
        }
    }



    function removeProduct(proId, cartId) {
        var check = confirm("Do you want to remove from cart?")
        if (check) {
            $.ajax({
                url: `/remove-cart-product/${proId}`,
                method: 'GET',
                success: (response) => {
                    $(proId).remove()
                    let msg = name + " removed"
                    $('#delete-msg').html(msg)
                    location.reload();
                    console.log("removed");
                }
            })
        }
    }
</script>